<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
  <%- include('./partials/Navbar', { bot, user }); %>
  <div class="section-container">
    <section id="home">
    <img src="https://cdn.discordapp.com/avatars/847307156981415956/e2ec8d52b844791a3b56de3d54caf6f1.webp?size=4096" class="bot-icon">
    <h3 class="section-header">NATRON</h3>
    <p class="section-description">This is the bot by this you can protect your server, have fun and lots of things.</p>
    <div class="btns">
    <button><i class="fab fa-discord"></i> Invite</button> 
    <button><i class="fab fa-discord"></i> Support Server</button>
    </div>
    </section>
    </div>
    <footer>
      <span>Created By <a href="https://discord.com">Hydra</a> | <span class="far fa-copyright"></span> 2021 All rights reserved.</span>
    </footer>
  <script src="js/script.js"></script>
  </body>
</html>